#top_icon{
    padding:55px 0  65px 50;
    margin: 10px 0 10px 530px;
}

#dopeking_logo{
    padding:55px 0  65px 50;
    margin: 10px 0 10px 510px;
}
#d_content{
    text-align: center;
}
strong{
    font-size: 22px;
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
}