#top_icon{
    padding:55px 0  65px 50;
    margin: 10px 0 10px 530px;
}

#login-input{
    border: 1px solid lightgray;
    text-align: center;
    padding:55px 0  65px 0;
    margin: 70px 150px 100px 150px ;
}

#j_button,#l_button{
    width: 130px;
    height: 30px;
    margin: 5px;
    
}
